# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom settings
/cable_robot.pro.user
/cable_robot.creator.user

# Build folders
build
/lib/grab_common/libnumeric/build*

/.cproject
/.project
/.settings/language.settings.xml
*.pro.user

# Documentation
/lib/grab_common/libnumeric/doc*
/lib/grab_common/libnumeric/Doxyfile
